@charset "utf-8";



/*ν—¤λ”*/
#header{text-align:center; position:relative;}
#header h1{padding-top:45px;}
#header h1 a{}
#header h1 a img{}

/*gnb*/
.gnb{text-align:center; padding: 15px 0;}
.gnb>ul{display:inline-block;}
.gnb>ul>li{padding:0 30px; float:left; position:relative;}
.gnb ul li a{}

.on{display:none;}
.gnb li:hover .on{display:block;}
.gnb li:hover .off{display:none;}

.lnb{width:100%; background:#fff; position:absolute; left:0; top:25px; line-height:40px; display:none;}
.lnb li a{display:inline-block; width:100%;}
.gnb>ul>li:hover .lnb{display:block;}

.lnb li:hover{background:#ccc;}


/*utill01*/
.utill01{}
.utill01 ul{}
.utill01 ul li{float:left; text-align:center;}
.utill01 ul li:last-child img{padding-top:15px;}
.utill01 ul li a{display:inline-block; width:99px; height:76px;}
.utill01 ul li a img{}

/*utill02*/
.utill02{position:relative; width:960px; margin:auto;}
.utill02 ul{position:absolute; right:0px; text-align:center;}
.utill02 ul li{display:inline-block; padding-left:15px; padding-top:15px;}
.utill02 ul li a{}
.utill02 ul li a img{}


/*ν‘Έν„°*/
#footer{background:url(../images/bg_footer.gif); height:150px; color:#f1f1f1;}

.f_text{}

.f_top{padding:30px 0; font-size:13px;}
.f_top ul{}
.f_top ul li{float:left; border-left:1px solid #f1f1f1; line-height:11px; padding:0 5px;}
.f_top ul li:first-child{border:none; padding-left:0;}
.f_top ul li a{color:#f1f1f1;}

.f_bot{font-size:11px;}
.f_bot p{}